<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.visanka.sangam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sanga"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AdminActivity2"
            android:exported="false" />
        <activity
            android:name=".push_notificationActivity"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".second_class" />
        <activity android:name=".dashboard" />
        <activity android:name=".sangham_details" />
        <activity android:name=".admin_class" />
        <activity android:name=".SuperAdmin" />
        <activity android:name=".manager" />
    </application>

</manifest>